#cta {
  margin: 0;
  padding: 4.3125rem 0;
  background: #fff;
  color: #000;
  & > [class^="col-"] {
    align-items: center;
    display: flex;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: -0.63px;
  }
  .cta-btn {
    font-size: 0.73333333333rem;
    font-weight: 500;
    letter-spacing: 0.0625rem;
    color: #000;
    text-transform: uppercase;
    padding-left: .25rem;
    padding-right: .25rem;
    &:hover {
      color: #000;
    }
    &::after {
      content: "🡒";
      font-size: 1.35rem;
      vertical-align: -9%;
      color: #ffc001;
      font-weight: bold;
      display: inline-block;
      margin-left: .6rem;
    }
  }
}